*PROJECT ONE* 
-----------------
PART 1:  Data scraping and preparation 

Rawan Abdellah

Step 1: Scrape your competitor's data 
-----------------
We scraped data using BeautifulSoup, searching by class
then by table then add all data into lists then put it in dataframe using pandas:

In [67]:

from bs4 import BeautifulSoup
import requests
import pandas as pd

source = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares').text
soup = BeautifulSoup(source, 'html')
header =soup.find('table', class_ = 'table table-striped table-responsive-md')
a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []
for row in header.find_all('tr')[1:51]:
    cell = row.find_all('td')
    a.append(cell[0].text)
    b.append(cell[1].text)
    c.append(cell[2].text)
    d.append(cell[3].text)
    e.append(cell[4].text)
    f.append(cell[5].text)
    g.append(cell[6].text)
    h.append(cell[7].text)
df = pd.DataFrame({'rank':a, 'x_calss':b, 'date':c, 'region':d, 'start_time':e, 'max_time':f, 'end_time':g, 'movie':h})
df

,rank,x_calss,date,region,start_time,max_time,end_time,movie
0,1,X28+,2003/11/04,0486,19:29,19:53,20:06,MovieView archive
1,2,X20+,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
2,3,X17.2+,2003/10/28,0486,09:51,11:10,11:24,MovieView archive
3,4,X17+,2005/09/07,0808,17:17,17:40,18:03,MovieView archive
4,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive
5,6,X10,2003/10/29,0486,20:37,20:49,21:01,MovieView archive
6,7,X9.4,1997/11/06,8100,11:49,11:55,12:01,MovieView archive
7,8,X9.3,2017/09/06,2673,11:53,12:02,12:10,MovieView archive
8,9,X9,2006/12/05,0930,10:18,10:35,10:45,MovieView archive
9,10,X8.3,2003/11/02,0486,17:03,17:25,17:39,MovieView archive
10,11,X8.2,2017/09/10,2673,15:35,16:06,16:31,MovieView archive
11,12,X7.1,2005/01/20,0720,06:36,07:01,07:26,MovieView archive
12,13,X6.9,2011/08/09,1263,07:48,08:05,08:08,MovieView archive
13,14,X6.5,2006/12/06,0930,18:29,18:47,19:00,MovieView archive
14,15,X6.2,2005/09/09,0808,19:13,20:04,20:36,MovieView archive
15,16,X6.2,2001/12/13,9733,14:20,14:30,14:35,MovieView archive
16,17,X5.7,2000/07/14,9077,10:03,10:24,10:43,MovieView archive
17,18,X5.6,2001/04/06,9415,19:10,19:21,19:31,MovieView archive
18,19,X5.4,2012/03/07,1429,00:02,00:24,00:40,MovieView archive
19,20,X5.4,2005/09/08,0808,20:52,21:06,21:17,MovieView archive
20,21,X5.4,2003/10/23,0486,08:19,08:35,08:49,MovieView archive
21,22,X5.3,2001/08/25,9591,16:23,16:45,17:04,MovieView archive
22,23,X4.9,2014/02/25,1990,00:39,00:49,01:03,MovieView archive
23,24,X4.9,1998/08/18,8307,22:10,22:19,22:28,View archive
24,25,X4.8,2002/07/23,0039,00:18,00:35,00:47,MovieView archive
25,26,X4,2000/11/26,9236,16:34,16:48,16:56,MovieView archive
26,27,X3.9,2003/11/03,0488,09:43,09:55,10:19,MovieView archive
27,28,X3.9,1998/08/19,8307,21:35,21:45,21:50,View archive
28,29,X3.8,2005/01/17,0720,06:59,09:52,10:07,MovieView archive
29,30,X3.7,1998/11/22,8384,06:30,06:42,06:49,MovieView archive
30,31,X3.6,2005/09/09,0808,09:42,09:59,10:08,MovieView archive
31,32,X3.6,2004/07/16,0649,13:49,13:55,14:01,MovieView archive
32,33,X3.6,2003/05/28,0365,00:17,00:27,00:39,MovieView archive
33,34,X3.4,2006/12/13,0930,02:14,02:40,02:57,MovieView archive
34,35,X3.4,2001/12/28,9767,20:02,20:45,21:32,MovieView archive
35,36,X3.3,2013/11/05,1890,22:07,22:12,22:15,MovieView archive
36,37,X3.3,2002/07/20,0039,21:04,21:30,21:54,MovieView archive
37,38,X3.3,1998/11/28,8395,04:54,05:52,06:13,MovieView archive
38,39,X3.2,2013/05/14,1748,00:00,01:11,01:20,MovieView archive
39,40,X3.1,2014/10/24,2192,21:07,21:41,22:13,MovieView archive
40,41,X3.1,2002/08/24,0069,00:49,01:12,01:31,MovieView archive
41,42,X3,2002/07/15,0030,19:59,20:08,20:14,MovieView archive
42,43,X2.8,2013/05/13,1748,15:48,16:05,16:16,MovieView archive
43,44,X2.8,2001/12/11,9733,07:58,08:08,08:14,MovieView archive
44,45,X2.8,1998/08/18,8307,08:14,08:24,08:32,View archive
45,46,X2.7,2015/05/05,2339,22:05,22:11,22:15,MovieView archive
46,47,X2.7,2003/11/03,0488,01:09,01:30,01:45,MovieView archive
47,48,X2.7,1998/05/06,8210,07:58,08:09,08:20,MovieView archive
48,49,X2.6,2005/01/15,0720,22:25,23:02,23:31,MovieView archive
49,50,X2.6,2001/09/24,9632,09:32,10:38,11:09,MovieView archive

Step 2: Tidy the top 50 solar flare data
-----------------
then we dropped the movie column
using drop function.

In [68]:

df.drop("movie", axis=1)

   rank x_calss        date region start_time max_time end_time
0     1    X28+  2003/11/04   0486      19:29    19:53    20:06
1     2    X20+  2001/04/02   9393      21:32    21:51    22:03
2     3  X17.2+  2003/10/28   0486      09:51    11:10    11:24
3     4    X17+  2005/09/07   0808      17:17    17:40    18:03
4     5   X14.4  2001/04/15   9415      13:19    13:50    13:55
5     6     X10  2003/10/29   0486      20:37    20:49    21:01
6     7    X9.4  1997/11/06   8100      11:49    11:55    12:01
7     8    X9.3  2017/09/06   2673      11:53    12:02    12:10
8     9      X9  2006/12/05   0930      10:18    10:35    10:45
9    10    X8.3  2003/11/02   0486      17:03    17:25    17:39
10   11    X8.2  2017/09/10   2673      15:35    16:06    16:31
11   12    X7.1  2005/01/20   0720      06:36    07:01    07:26
12   13    X6.9  2011/08/09   1263      07:48    08:05    08:08
13   14    X6.5  2006/12/06   0930      18:29    18:47    19:00
14   15    X6.2  2005/09/09   0808      19:13    20:04    20:36
15   16    X6.2  2001/12/13   9733      14:20    14:30    14:35
16   17    X5.7  2000/07/14   9077      10:03    10:24    10:43
17   18    X5.6  2001/04/06   9415      19:10    19:21    19:31
18   19    X5.4  2012/03/07   1429      00:02    00:24    00:40
19   20    X5.4  2005/09/08   0808      20:52    21:06    21:17
20   21    X5.4  2003/10/23   0486      08:19    08:35    08:49
21   22    X5.3  2001/08/25   9591      16:23    16:45    17:04
22   23    X4.9  2014/02/25   1990      00:39    00:49    01:03
23   24    X4.9  1998/08/18   8307      22:10    22:19    22:28
24   25    X4.8  2002/07/23   0039      00:18    00:35    00:47
25   26      X4  2000/11/26   9236      16:34    16:48    16:56
26   27    X3.9  2003/11/03   0488      09:43    09:55    10:19
27   28    X3.9  1998/08/19   8307      21:35    21:45    21:50
28   29    X3.8  2005/01/17   0720      06:59    09:52    10:07
29   30    X3.7  1998/11/22   8384      06:30    06:42    06:49
30   31    X3.6  2005/09/09   0808      09:42    09:59    10:08
31   32    X3.6  2004/07/16   0649      13:49    13:55    14:01
32   33    X3.6  2003/05/28   0365      00:17    00:27    00:39
33   34    X3.4  2006/12/13   0930      02:14    02:40    02:57
34   35    X3.4  2001/12/28   9767      20:02    20:45    21:32
35   36    X3.3  2013/11/05   1890      22:07    22:12    22:15
36   37    X3.3  2002/07/20   0039      21:04    21:30    21:54
37   38    X3.3  1998/11/28   8395      04:54    05:52    06:13
38   39    X3.2  2013/05/14   1748      00:00    01:11    01:20
39   40    X3.1  2014/10/24   2192      21:07    21:41    22:13
40   41    X3.1  2002/08/24   0069      00:49    01:12    01:31
41   42      X3  2002/07/15   0030      19:59    20:08    20:14
42   43    X2.8  2013/05/13   1748      15:48    16:05    16:16
43   44    X2.8  2001/12/11   9733      07:58    08:08    08:14
44   45    X2.8  1998/08/18   8307      08:14    08:24    08:32
45   46    X2.7  2015/05/05   2339      22:05    22:11    22:15
46   47    X2.7  2003/11/03   0488      01:09    01:30    01:45
47   48    X2.7  1998/05/06   8210      07:58    08:09    08:20
48   49    X2.6  2005/01/15   0720      22:25    23:02    23:31
49   50    X2.6  2001/09/24   9632      09:32    10:38    11:09


marge the dates and time into one
column in the dataframe.

In [69]:

import datetime
Date_list1=[]
Date_list2=[]
Date_list3=[]

Date_list1=pd.to_datetime(df['date'] + ' ' + df['start_time'])    
       
Date_list2=pd.to_datetime(df['date'] + ' ' + df['max_time'])
       
Date_list3=pd.to_datetime(df['date'] + ' ' + df['end_time'])

df = pd.DataFrame({'rank':a, 'x_calss':b, 'start_time': Date_list1, 'max_time':Date_list2, 'end_time':Date_list3, 'region':d})
df

,rank,x_calss,start_time,max_time,end_time,region
0,1,X28+,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00,0486
1,2,X20+,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00,9393
2,3,X17.2+,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00,0486
3,4,X17+,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00,0808
4,5,X14.4,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00,9415
5,6,X10,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00,0486
6,7,X9.4,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,8100
7,8,X9.3,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,2673
8,9,X9,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00,0930
9,10,X8.3,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,0486
10,11,X8.2,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00,2673
11,12,X7.1,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00,0720
12,13,X6.9,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00,1263
13,14,X6.5,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00,0930
14,15,X6.2,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00,0808
15,16,X6.2,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,9733
16,17,X5.7,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,9077
17,18,X5.6,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00,9415
18,19,X5.4,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,1429
19,20,X5.4,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00,0808
20,21,X5.4,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,0486
21,22,X5.3,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00,9591
22,23,X4.9,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,1990
23,24,X4.9,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,8307
24,25,X4.8,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,0039
25,26,X4,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00,9236
26,27,X3.9,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00,0488
27,28,X3.9,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,8307
28,29,X3.8,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00,0720
29,30,X3.7,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,8384
30,31,X3.6,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00,0808
31,32,X3.6,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,0649
32,33,X3.6,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,0365
33,34,X3.4,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,0930
34,35,X3.4,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00,9767
35,36,X3.3,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,1890
36,37,X3.3,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,0039
37,38,X3.3,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00,8395
38,39,X3.2,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00,1748
39,40,X3.1,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00,2192
40,41,X3.1,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00,0069
41,42,X3,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,0030
42,43,X2.8,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00,1748
43,44,X2.8,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,9733
44,45,X2.8,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,8307
45,46,X2.7,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,2339
46,47,X2.7,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00,0488
47,48,X2.7,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00,8210
48,49,X2.6,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00,0720
49,50,X2.6,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00,9632


Set regions coded as '-' as
missing 'NaN'.

In [70]:

df.replace(to_replace ="-", 
                 value ="NaN")

,rank,x_calss,start_time,max_time,end_time,region
0,1,X28+,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00,0486
1,2,X20+,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00,9393
2,3,X17.2+,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00,0486
3,4,X17+,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00,0808
4,5,X14.4,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00,9415
5,6,X10,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00,0486
6,7,X9.4,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,8100
7,8,X9.3,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,2673
8,9,X9,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00,0930
9,10,X8.3,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,0486
10,11,X8.2,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00,2673
11,12,X7.1,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00,0720
12,13,X6.9,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00,1263
13,14,X6.5,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00,0930
14,15,X6.2,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00,0808
15,16,X6.2,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,9733
16,17,X5.7,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,9077
17,18,X5.6,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00,9415
18,19,X5.4,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,1429
19,20,X5.4,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00,0808
20,21,X5.4,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,0486
21,22,X5.3,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00,9591
22,23,X4.9,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,1990
23,24,X4.9,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,8307
24,25,X4.8,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,0039
25,26,X4,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00,9236
26,27,X3.9,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00,0488
27,28,X3.9,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,8307
28,29,X3.8,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00,0720
29,30,X3.7,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,8384
30,31,X3.6,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00,0808
31,32,X3.6,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,0649
32,33,X3.6,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,0365
33,34,X3.4,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,0930
34,35,X3.4,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00,9767
35,36,X3.3,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,1890
36,37,X3.3,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,0039
37,38,X3.3,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00,8395
38,39,X3.2,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00,1748
39,40,X3.1,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00,2192
40,41,X3.1,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00,0069
41,42,X3,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,0030
42,43,X2.8,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00,1748
43,44,X2.8,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,9733
44,45,X2.8,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,8307
45,46,X2.7,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,2339
46,47,X2.7,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00,0488
47,48,X2.7,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00,8210
48,49,X2.6,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00,0720
49,50,X2.6,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00,9632